{% extends "index.html" %}
{% block contenido %}
<h3 class="text-center fw-bold">GESTIONAR ELEMENTOS DEVOLUTIVOS</h3>
<div class="w-75 table-responsive" style="margin: 0 auto;">
    <a href="/vistaRegistrarDevolutivo/"><button class="btn btn-secondary">Agregar</button></a>
    <table id="tblElementosDevolutivos" class="mt-3 table table-bordered">
        <thead>
            <tr class="text-center bg-secondary text-white">
                <th>Código Propio</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Tipo</th>
                <th>Estado</th>
                <th>Foto</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for devolutivo in listaElementosDevolutivos %}
            <tr>
                <td>{{devolutivo.devElemento.eleCodigo}}</td>
                <td>{{devolutivo.devElemento.eleNombre}}</td>
                <td>{{devolutivo.devDescripcion}}</td>
                <td class="text-center">{{devolutivo.devElemento.eleTipo}}</td>
                <td class="text-center">{{devolutivo.devElemento.eleEstado}}</td>
                <td><img src="../../../media/{{devolutivo.devFoto}}" width="50" height="50"></td>
                <td class="text-center">
                    <i class="fa fa-edit text-body" title="ver/editar"></i>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
<script>
    cargarDataTable($("#tblElementosDevolutivos"),"Elementos Devolutivos",5)
</script>
{% block piePagina %}
{% include "piePagina.html" %}
{% endblock %}